openapi: 3.1.0
info:
  title: MOMA Therapeutics Site Options API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind momatx.com.
  description: The site-configuration surface exposed by the Advanced Custom Fields REST namespace. MOMA Therapeutics is a Cambridge, Massachusetts drug-discovery company building precision medicines against molecular machines — highly dynamic proteins that convert chemical energy into regulatory work such as protein transport and degradation — using its proprietary KNOMATIC platform. It runs no developer program and markets no product API. This document is an API Evangelist derivation of the WordPress REST route index MOMA Therapeutics publishes at https://momatx.com/wp-json/, restricted to the operations verified to return data anonymously on 2026-08-26.
  contact:
    name: MOMA Therapeutics
    url: https://momatx.com/
    email: info@momatx.com
  x-api-evangelist-provenance: Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index published at https://momatx.com/wp-json/ (219 routes across 12 namespaces) and verified against live anonymous responses on 2026-08-26. Every parameter below appears verbatim in that index's `args` for the endpoint, every schema property name was read from a real response body, and every collection count in a description was read from the `X-WP-Total` response header on that date. MOMA Therapeutics publishes no OpenAPI, no developer portal and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. The deployment is WP Engine (nginx), with Wordfence, Yoast SEO and Advanced Custom Fields registering additional namespaces. Routes that returned 401 anonymously (/wp/v2/users, /wp/v2/settings, /wp/v2/menu-items, /wp/v2/plugins, /wp/v2/themes and the entire wp-abilities/v1 namespace) are deliberately excluded, as are all write operations. Nothing here was obtained with credentials.
servers:
- url: https://momatx.com/wp-json
  description: Production WordPress REST content API
tags:
- name: options
  description: Advanced Custom Fields options-page payloads, exposed anonymously by the `acf/v3` namespace.
paths:
  /acf/v3/options/{option_name}:
    get:
      tags:
      - options
      operationId: getOptionsPage
      summary: Get an ACF options page
      description: 'Returns an Advanced Custom Fields options-page payload. The `options` page is anonymously readable on this deployment and carries site-wide configuration: the company logo attachment, the rendered footer contact block (general and media email addresses, the Cambridge, MA head office address), social profile URLs, the copyright line, visual-identity settings and a news-modal configuration. Verified live on 2026-08-26. Note that this route also returns internal site-build contact records; the ACF plugin exposes the whole field group with no field-level access control, which is a configuration choice rather than a documented API.'
      parameters:
      - name: option_name
        in: path
        required: true
        description: The ACF options page slug. `options` is the page registered on this deployment.
        schema:
          type: string
      responses:
        '200':
          description: The options-page payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionsPayload'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Error:
      type: object
      description: The WordPress REST error envelope. It is NOT RFC 9457 `application/problem+json`; it is a bespoke JSON object served as `application/json`.
      required:
      - code
      - message
      - data
      properties:
        code:
          type: string
          description: Machine-readable error slug, e.g. `rest_post_invalid_id`.
          examples:
          - rest_no_route
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code, repeated in the body.
            params:
              type: array
              items:
                type: string
    OptionsPayload:
      type: object
      description: 'An Advanced Custom Fields options-page payload. On this deployment the `options` page carries site-wide configuration: logo, footer contact block, social profile URLs, copyright line, visual-identity settings and a news-modal configuration.'
      properties:
        acf:
          type: object
          description: 'The field group. Observed keys on 2026-08-26: blog_modal_post, company_logo, contact_information, export_settings, footer_contact, footer_copyright, link_to_news_page, modal_show_on_load, social_instagram, social_linkedin, social_twitter, social_youtube, visual_identity.'
          additionalProperties: true
  responses:
    NotFound:
      description: No such object or no matching route (`rest_post_invalid_id`, `rest_no_route`).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
