openapi: 3.1.0
info:
  title: MOMA Therapeutics oEmbed API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind momatx.com.
  description: The oEmbed provider surface of momatx.com. MOMA Therapeutics is a Cambridge, Massachusetts drug-discovery company building precision medicines against molecular machines — highly dynamic proteins that convert chemical energy into regulatory work such as protein transport and degradation — using its proprietary KNOMATIC platform. It runs no developer program and markets no product API. This document is an API Evangelist derivation of the WordPress REST route index MOMA Therapeutics publishes at https://momatx.com/wp-json/, restricted to the operations verified to return data anonymously on 2026-08-26.
  contact:
    name: MOMA Therapeutics
    url: https://momatx.com/
    email: info@momatx.com
  x-api-evangelist-provenance: Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index published at https://momatx.com/wp-json/ (219 routes across 12 namespaces) and verified against live anonymous responses on 2026-08-26. Every parameter below appears verbatim in that index's `args` for the endpoint, every schema property name was read from a real response body, and every collection count in a description was read from the `X-WP-Total` response header on that date. MOMA Therapeutics publishes no OpenAPI, no developer portal and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. The deployment is WP Engine (nginx), with Wordfence, Yoast SEO and Advanced Custom Fields registering additional namespaces. Routes that returned 401 anonymously (/wp/v2/users, /wp/v2/settings, /wp/v2/menu-items, /wp/v2/plugins, /wp/v2/themes and the entire wp-abilities/v1 namespace) are deliberately excluded, as are all write operations. Nothing here was obtained with credentials.
servers:
- url: https://momatx.com/wp-json
  description: Production WordPress REST content API
tags:
- name: oembed
  description: oEmbed 1.0 provider endpoint for momatx.com URLs.
paths:
  /oembed/1.0/embed:
    get:
      tags:
      - oembed
      operationId: getOEmbed
      summary: Get an oEmbed response for a momatx.com URL
      description: Returns an oEmbed 1.0 `rich` response for any published momatx.com URL — title, description, provider identity, an embeddable `html` blockquote and thumbnail dimensions. Verified live on 2026-08-26 against https://momatx.com/science/.
      parameters:
      - name: url
        in: query
        description: The URL of the resource for which to fetch oEmbed data.
        required: true
        schema:
          type: string
          format: uri
      - name: format
        in: query
        description: The `format` parameter.
        schema:
          default: json
      - name: maxwidth
        in: query
        description: The `maxwidth` parameter.
        schema:
          default: 600
      responses:
        '200':
          description: The oEmbed response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OEmbed'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Error:
      type: object
      description: The WordPress REST error envelope. It is NOT RFC 9457 `application/problem+json`; it is a bespoke JSON object served as `application/json`.
      required:
      - code
      - message
      - data
      properties:
        code:
          type: string
          description: Machine-readable error slug, e.g. `rest_post_invalid_id`.
          examples:
          - rest_no_route
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code, repeated in the body.
            params:
              type: array
              items:
                type: string
    OEmbed:
      type: object
      description: An oEmbed 1.0 rich response for a momatx.com URL.
      properties:
        version:
          type: string
          enum:
          - '1.0'
        provider_name:
          type: string
        provider_url:
          type: string
          format: uri
        author_name:
          type: string
        author_url:
          type: string
          format: uri
        title:
          type: string
        description:
          type: string
        type:
          type: string
          enum:
          - rich
          - link
          - photo
          - video
        width:
          type: integer
        height:
          type: integer
        html:
          type: string
        thumbnail_url:
          type: string
          format: uri
        thumbnail_width:
          type: integer
        thumbnail_height:
          type: integer
  responses:
    NotFound:
      description: No such object or no matching route (`rest_post_invalid_id`, `rest_no_route`).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
